{% load static %}

<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'styles\find.css' %}">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Home</title>
</head>

<body>
    <!-- Red top bar of the website -->
    <section class="topbar">
        <div class="container topbar-wrapper">
            <div class="contact">
                <i class="fa-solid fa-square-phone"></i>
                <p id="output"></p>
            </div>
        </div>
    </section>

    <!-- Header -->
    <header class="container" id="home">
        <!-- Navigation bar -->
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="">
            </div>
            <ul id="menuList">
                <li><a href="home">Home</a></li>
                <li><a href="donate">Donate Blood</a></li>
                <li><a href="find">Find Donors</a></li>
                <!-- <li><a href="">Top Donors</a></li> -->
                <li><a href="update">Update</a></li>
                <li><a href="Logout">Logout</a></li>
                <li>
                    <form action="profile" method="post">
                        {% csrf_token %}
                        <input type="text" name="phoneNumber" id="phoneNumber" style="display: none;">
                        <input type="submit" value="Profile"
                            style="font-size: clamp(16px, 1.7vw, 20px);font-weight: 600;background: none; margin: 0 auto; cursor: pointer;border: none;">
                    </form>
                </li>
            </ul>
            <div class="menu-icon">
                <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
            </div>
        </nav>
    </header>

    <!-- Body -->
    <main class="container">
        <div class="donate-form">
            <form action="find" method="post">
                {% csrf_token %}
                <fieldset class="input_container">
                    <legend>Blood Group</legend>
                    <i class="fa-solid fa-droplet"></i>
                    <select name="BloodGroup" id="bloodGroup" oninput="hideText()" required >
                        <option value="">Select Blood Group</option>
                        {% for fab in bloodgroup %}
                        <option value="{{ fab.blood_group}}">{{ fab.blood_group}}</option>
                        {% endfor %}
                    </select>
                </fieldset>
                <fieldset class="input_container">
                    <legend>Blood Required Date</legend>
                    <i class="fa-solid fa-calendar-days"></i>
                    <input type="date" name="blood_requre_date" id="lastDate" oninput="hideText()"  placeholder="Phone Number" required />
                </fieldset>
                <fieldset class="input_container">
                    <legend>District</legend>
                    <i class="fa-solid fa-location-dot"></i>
                    <select id="district" name="district"  oninput="hideText()" required>
                        <option value="">Select District</option>
                        {% for fab in district %}
                        <option value="{{ fab.district}}">{{ fab.district}}</option>
                        {% endfor %}
                        <!-- Add more districts as needed -->
                    </select>
                </fieldset>
                <fieldset class="input_container">
                    <legend>Police Station</legend>
                    <i class="fa-solid fa-location-dot"></i>
                    <select id="policeStation" name="policeStation" oninput="hideText()" required>
                        <option value="">Select Police Station</option>
                    </select>
                </fieldset>
                <!--                 <fieldset class="input_container" style="display:nopne;" >
                    <legend>Patient Type</legend>
                    <i class="fa-solid fa-bed-pulse"></i>
                    <input type="text" name="patientType" id="patientType"
                        placeholder="Ex-Accident, Pragnent, Operation, etc" required />
                </fieldset> -->
                <input type="submit" value="SUBMIT" />
            </form>
        </div>



        <!-- New Error Messege start 16/9/24 -->

        {% if messages %}
        {% for message in messages %}
        {% if message.tags == "error" %}
        <!-- Donor not available 18/09/24 -->
        <div class="donor-not-available" id="textToHide">
            <div class="donor-not-found">
                <i class="fa-regular fa-face-frown"></i>
                <p>{{ message }}</p>
            </div>
        </div>
        {% else %}

        <div class="donor-container">
            {% for fab in fabs %}
            <div class="donor-card">
                <div class="donor-img">
                    <!-- <img src="{% static 'images/profile.png' %}" alt=""> -->
                    <img src="{{ fab.img}}" alt="">
                </div>
                <div class="donor-info">
                    <div class="name">
                        <i class="fa-solid fa-user"></i>
                        <p>{{ fab.name }}</p>
                    </div>
                    <div class="phone">
                        <i class="fa-solid fa-phone-volume"></i>
                        <p>{{ fab.phone }}</p>
                    </div>
                    <div class="blood-grp">
                        <i class="fa-solid fa-droplet"></i>
                        <p>{{ fab.blood }}</p>
                    </div>
                    <div class="address">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>{{ fab.address }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
           
        </div>
    </main>


    {% endif %}
    {% endfor %}
    {% endif %}
    <!-- New Error messege end -->






    <!-- Footer Section -->
    <footer class="container">
        <div class="footer-wrapper">
            <div class="footer-first-column">
                <div class="footer-logo">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </div>
                <div class="footer-text">
                    <p>At Aldam, our mission is to save lives by promoting and facilitating blood donation.</p>
                </div>
                <div class="footer-social">
                    <div class="icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="icon">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="icon">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                    <div class="icon">
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
            </div>
            <div class="footer-second-column">
                <h3>About</h3>
                <p>Design by <br> <b>MD. Ibrahim</b> </p>
                <p>Fontend Developed by <br> <b>Faisal Ahammod</b> </p>
                <p>Backend Developed by <br> <b>Thofiqul Islam</b> </p>
                <p>Company belongs to <br> <b>Markin bracknell Ai</b> </p>
            </div>
            <div class="footer-third-column">
                <h3>Partnership</h3>
                <p>Bobbin</p>
            </div>
            <div class="footer-fourth-column">
                <h3>Contacts</h3>
                <p>01890429462</p>
            </div>
        </div>
    </footer>

    <!-- Copyright -->
    <section class="copyright">
        <div class="container">
            <div class="copyright-text">
                <p>2024 ALDAM. All Right Reserved</p>
            </div>
            <div class="goto-top-btn">
                <a href="#home"><i class="fa-solid fa-arrow-up"></i></a>
            </div>
        </div>
    </section>
    <!-- Script For Navbar Toggle menue of nabvar -->
    <script src="{% static 'js\find.js' %}"></script>
    <script>
        var phoneNumber = localStorage.getItem('phoneNumber');
        document.getElementById('output').innerText = phoneNumber;
        document.getElementById('phoneNumber').value = phoneNumber;

                function hideText() {
            var inputField_blood = document.getElementById("bloodGroup").value;
            var inputField_ldate = document.getElementById("lastDate").value;
            var inputField_district = document.getElementById("district").value;
            var inputField_police = document.getElementById("policeStation").value;
            var textToHide = document.getElementById("textToHide");


            if (inputField_blood.length > 0 || inputField_ldate.length > 0 || inputField_district.length > 0 || inputField_police ) {
                textToHide.style.display = "none"; // Hide the text
            }
        }
    </script>
</body>

</html>